#FilterModal {
  position: absolute;
  .modal-dialog {
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;

    .modal-content {
      border-radius: 0;
      height: 100%;
      border-bottom: 1px solid @c_orange_main;
    }

    .modal-body {
      height: 100%;
    }
  }
}