#Form_HappSearchForm {
  // Keyword field
  #Form_HappSearchForm_keyword_Holder {
    height: 60px;
    padding: 0 60px;
    label {
      display: none;
    }
    #Form_HappSearchForm_keyword {
      height: 60px;
      width: 100%;
      padding: 0 10px;
      font-size: 20px;
      outline: none;
      margin: 0;
      border: 0;
      &:hover, &:focus {
        outline: none !important;
      }
    }
  }

  // Advanced Search Toggle Button
  #advancedToggle {
    width: 100%;
    min-height: 40px;
    height: 60px;
    font-size: 18px;
    outline: 0;
    &:focus, &:hover {
      outline: none !important;
    }
  }

  // Past or future strip
  #PastOrFuture {
    padding: 3% 3% 0 3%;
    @media @min865 {
      padding: 20px 30px 0 30px;
    }
    label {
      margin: 0 0 10px 0;
      font-size: 18px;
    }
    #Form_HappSearchForm_PastOrFuture {
      display: flex;
      align-items: center;
      align-content: center;
      padding: 0;
      margin: 0;
      li {
        width: 33.333%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        input {
          margin: 0;
        }
        label {
          margin: 0;
          font-size: 16px;
          padding: 10px 10px 0 10px;
        }
      }
    }
  }

  // Date strip
  #DateOrText {
    padding: 3% 3% 0 3%;
    @media @min865 {
      padding: 20px 30px 0 30px;
    }
    label {
      margin: 0 0 10px 0;
      font-size: 18px;
    }
    #Form_HappSearchForm_DateOrText {
      display: flex;
      align-items: center;
      align-content: center;
      padding: 0;
      margin: 0;
      li {
        width: 33.33333%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        input {
          margin: 0;
        }
        label {
          margin: 0;
          font-size: 16px;
          padding: 10px 10px 0 10px;
        }
      }
    }
  }

  // False search needs to hide
  .Actions {
    display: none;
  }
}