.filter-event-holder {
  font-family: @font_GustanLight;
  .form-group {
    .dropdown-label {
      position: relative;
      width: 50px;
      &:before {
        .show_psuedo();
        width: 60px;
        height: 60px;
        position: absolute;
        top:-16px;
        left: 5px;
        background: url(../svg/filter.svg) no-repeat;
      }
    }
    .select2-container {
      max-height: 60px;
      //overflow-y: scroll;
      overflow: hidden;
      width: 300px !important;
      //&:hover {
      //  width: 400px !important;
      //}


      .select2-selection--multiple {
        border-radius: 0;
        .select2-selection__rendered {
          .select2-selection__choice {
            //background-color: #e4e4e4;
            background-color: transparent;
            border: 1px solid @c_happ_orange;
            border-radius: 0;
            .select2-selection__choice__remove {
              color: @c_happ_orange;
            }
          }
        }
      }
    }
  }
}
