.container-calendar-wrapper {

  .custom-calendar-wrap {

    .fc-calendar-container {

      .fc-calendar {

        // Calendar Head
        .fc-head {

          font-weight: 900;

        }

        // Calendar Body
        .fc-body {

          .fc-row {
            overflow: hidden;

            .day-square {
              overflow: hidden;

              .square {
                overflow-y: scroll;
                .modal {
                  display: none;
                  z-index: 99999999999;
                  max-width: 100%;

                  .modal-dialog {

                    .modal-content {

                      max-height: 500px;
                      overflow: scroll;

                      .modal-header {

                      }

                      .modal-body {

                      }

                      .modal-footer {

                      }

                    }

                  }
                }
              }

            }

          }

        }

      }

    }

  }

}