.container-calendar-wrapper {

  .custom-calendar-wrap {
    z-index: 100;
    @media @min880 {
      z-index: -50;
    }

    .fc-calendar-container {

      .fc-calendar {
        //background: rgba(255,255,255,.1);
        //width: auto;
        //top: 10px;
        //bottom: 20px;
        //left: 20px;
        //right: 20px;
        //height: auto;
        //border-radius: 20px;
        //position: absolute;
        @media @min880 {
          bottom: 0;
          left: 0;
          right: 0;
        }

        // Calendar Head
        .fc-head {

          font-weight: 900;
          border-radius: 0;
          font-family: @happ_base_ff;
          background: @c_month_strip;
          box-shadow: none;

        }

        // Calendar Body
        .fc-body {
          padding: 0;
          @media @min880 {
            padding: 10px 0 20px 0;
          }

          .fc-row {
            overflow: hidden;

            .happ_e_button {
              background-color: transparent;
              //color: #000000;
              //  padding: 0 4px 0 4px;
              //  border-radius: 10px;
              //              border-top: 1px solid @color-event-btn-color;
              margin: 1px;
              outline: none;
              text-decoration: none;
              padding: 6px 4px 0 4px;
              font-size: 16px;
              text-transform: none;
              white-space: normal;
              transition: @transition_event_fs;
              &:hover, &:focus {
                text-decoration: none;
                background-color: transparent;
                outline: none;
              }
              @media @min880 {
                font-size: 14px;
              }
            }

            .day-square {
              overflow: hidden;
              z-index: 100;
              padding: 10px 10px 40px 10px;

              //box-shadow:-1px 0 0 #042C5C;
              //border-bottom: 1px solid #042C5C;
              @media @min880 {
                border-bottom: 1px solid #042C5C;
                padding: 10px 10px 10px 10px;
              }
              &:hover {
                cursor: default;
              }

              .tron-inner-square {
                max-width: 100%;
                .events-day-wrapper {
                  padding: 0;
                  @media @min880 {
                    //padding: 35px 0 0 0;
                    padding: 0;
                  }
                }
                .opaque-head {
                  display: none;
                  @media @min880 {
                    display: block;
                    padding: 20px 0 0 0;
                    height: 30px;
                    width: 100%;
                    position: fixed;
                    background-color: rgba(255, 255, 255, 0.8);
                    z-index: 10;
                  }

                }
                .number-wrap {
                  height: 60px;
                  @media @min880 {
                    position: fixed;
                    height: 33px;
                    width: 33px;
                    z-index: 99999;
                  }
                }
                .day-number {
                  color: fade(@color-dcc-blue, 100%);
                  font-size: 36px;
                  height: 60px;
                  width: 60px;
                  border-radius: 0;
                  text-align: center;
                  padding: 0;
                  z-index: 50;
                  @media @min880 {
                    font-size: 22px;
                    height: 33px;
                    width: 33px;
                    margin: 0;
                    border: none;
                    position: absolute;
                    top: 0;
                    background-color: rgba(255, 255, 255, 0.95);
                    border-radius: 0;
                    transition: @transition_day_opacity;
                  }

                }
                @media @min880 {
                  overflow-y: scroll;
                  position: absolute;
                  margin-top: 0;
                  height: inherit;
                  right: -10px;
                  width: 100%;
                  padding-right: 10px;
                  &:hover {
                    .day-number {
                      opacity: 0;
                    }
                  }

                }

              }
              .modal {
                display: none;
                z-index: 99999999999;
                max-width: 100%;

                .modal-dialog {

                  .modal-content {

                    .modal-header {

                    }

                    .modal-body {

                    }

                    .modal-footer {

                    }

                  }

                }
              }

            }

            .last-month-wrap {
              display: none;
              opacity: 0.4;
              @media @min880 {
                display: block;
              }
            }

            .next-month-wrap {
              display: none;
              opacity: 0.4;
              @media @min880 {
                display: block;
              }
            }

          }

        }

      }

    }

  }

}

.fc-row {
  &:last-of-type {
    //background-color: red;
    //border: 2px solid purple;
    .day-square {
      border: none !important;
    }
  }
}