.happ-add-event-form {
  font-family: @happ_base_ff;
  //border: 1px dashed rebeccapurple;

  fieldset{

  }

  .form-step{

  }

  #details-step{

    #EventTags{
      .middleColumn {
        #Form_HappEventForm_EventTags {
          padding: 0;
          li {
            display: inline-block;
            height: 100px;
            width: 166px;
            border: 1px solid lightgrey;
            margin-bottom: 5px;
            margin-right: 0px;
            .checkbox {
              display: none;
            }
            label {
              padding-top: 20px;
              text-align: center;
              display: block;
              height: 100%;
              width: 100%;
            }
          }
          .tag-selected {
            background-color: @c_happ_orange;
             label {
               color: white;
             }
          }
        }
      }

    }

  }

  #ticket-step{

  }

  #ticket-web-step{

  }

  #location-step{

  }

  #date-step {

  }

}

