#AddHappEventModal {
  .modal-dialog {
    max-width: 800px;
    width: 100%;
    .modal-content {
      .modal-header {
        .modal-title {
          font-family: @happ_base_ff;
          text-align: left;
        }
      }
      .modal-body {
        // Add event .less
        @import "addeventform.less";
      }
      .modal-footer {

      }
    }
  }
}