.location-strip {
  border-left: none;
  border-top: @color-border;
  border-right: none;
  padding: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  .location-svg {
    width: 30px;
  }
  .location-text {
    margin: 0;
    padding-right: 30px;
    font-size: 20px;
    display: inline-block;
    flex-grow: 2;
    text-align: center;
  }
}