.location-strip {
  border-left: none;
  border-top: @color-border;
  border-right: none;
  padding: @event-modal-strip-padd;
  display: flex;
  align-items: center;
  align-content: center;
  min-height: 60px;
  .location-svg {
    width: 40px;
    flex-grow: 0.2;
  }
  .location-text {
    margin: 0;
    padding-right: 30px;
    font-size: 20px;
    display: inline-block;
    flex-grow: 2;
    text-align: center;
  }
}