.nav-bar-wrapper {


  @media @min865 {
    max-height: 50px;
  }
  z-index: 100;

  .date-wrapper {
    z-index: 100;
    text-align: left;
    padding: 0 15px 0 40px;

    .theMonth {
      padding: 0 20px 0 0;
      font-family: HelveticaNeue,Helvetica,sans-serif;
      color:@color-dcc-blue;

    }

    .theYear {
      font-family: HelveticaNeue,Helvetica,sans-serif;
      color:@color-dcc-blue;
    }

  }

  .logo-wrapper {
    z-index: 500;
    text-align: center;
    img {
      margin-top: 5px;
      margin-right: auto;
      margin-left: auto;
      @media @min865 {
        max-height: 50px;

      }
    }
  }

  .controls-wrapper {
    z-index: 9999;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;


    .controls-prev-next {
      display: inline-block;
      padding: 0 20px 0 20px;
      color: #042C5C;
      a {
        width: 150px;
        color: #042C5C;
        border: 3px solid #042C5C;
        padding: 18px 8px 8px 8px;
        margin: 5px;
      }

      #previous-month {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }

      #next-month {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }

      @media @min865 {
        float: right;
      }
    }
    .add-event {
      display: inline-block;
      padding: 0 20px 0 20px;
      @media @min865 {
        float: right;
      }

      a {
        color:@color-dcc-blue;
      }
    }

    @media @min865 {
      float: right;
    }
  }

}