.nav-bar-wrapper {
  height: 250px;
  @media @min525 {
    height: 200px;
  }
  overflow: hidden;

  position: relative;

  @media @min865 {
    max-height: 60px;
  }
  z-index: 100;

  .date-wrapper {
    z-index: 100;
    text-align: left;
    padding: 0 15px 0 40px;
    font-family: @font_GustanLight;
    display: inline-block;
    position: relative;


    .full-date {
      position: relative;
      @media @min865 {
        top:-16px;
      }

    }

    .theMonth {
      padding: 0 20px 0 0;
      font-family: @font_GustanLight;
      color:@c_month;
      font-size: 24px;
    }

    .theYear {
      font-family: @font_GustanLight;
      color:@c_year;
      font-size: 24px;
    }
    @media @min865 {
      min-width: 250px;
    }

  }

  .filter-wrapper {
    display: inline-block;
    .filter-modal-btn {
      position: absolute;
      top:170px;
      @media @min865 {
        top: 17px;
        left: 450px;

      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .logo-wrapper {
    z-index: 500;
    text-align: center;
    display: inline-block;
    padding-right: 30px;
    img {
      margin-top: 5px;
      margin-right: auto;
      margin-left: 40px;
      @media @min865 {
        max-height: 50px;
        margin-left: 30px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    @media @min865 {
      display: inline-block;
    }
  }

  //.Event-Filter-Wrapper {
  //  display: inline-block;
  //  position: absolute;
  //  @import "filter/filter";
  //  @media @min865 {
  //    top: 18px;
  //  }
  //}

  .controls-wrapper {
    z-index: 50;
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    padding-left: 18px;
    @media @min865 {
      margin-right: 65px;
      float: right;
    }

    .controls-prev-next {
      display: inline-block;
      padding: 0 20px 0 20px;
      color: @c_controls_name;
      font-family: @font_GustanLight;
      a {
        width: 150px;
        color: @c_controls_name;
        padding: 0;
        margin: 5px;
        position: relative;
        &:hover, &:focus {
          text-decoration: none;
        }
      }

      // Left arrow (previous month)
      #previous-month {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        top:0;
        @media @min865 {
          top: 0;
        }
        span {
          padding: 0 0 0 15px;
          size: 0.2em;
          position: relative;
          font-size: 18px;
          font-weight: 100;
        }
        span:before {
          .show_psuedo();
          top: 50%;
          margin-top: -7px;
          border-top: 1px solid @c_controls;
          border-right: 1px solid @c_controls;
          height: 15px;
          width: 15px;
          position: absolute;
          left: 0;
          transition: left 0.25s;
          transform: rotate(225deg);
        }
        span:hover:before {
          .show_psuedo();
          top: 50%;
          margin-top: -7px;
          border-top: 1px solid @c_controls;
          border-right: 1px solid @c_controls;
          height: 15px;
          width: 15px;
          position: absolute;
          transition: left 0.25s;
          left: -5px;
          transform: rotate(225deg);
        }
      }
      // Right arrow (next month)
      #next-month {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        top:0;
        @media @min865 {
          top: 0;
        }
        span {
          padding: 0 15px 0 0;
          size: 0.2em;
          position: relative;
          font-size: 18px;
          font-weight: 100;
        }
        span:before {
          .show_psuedo();
          top: 50%;
          margin-top: -7px;
          border-top: 1px solid @c_controls;
          border-right: 1px solid @c_controls;
          height: 15px;
          width: 15px;
          position: absolute;
          right: 0;
          transform: rotate(45deg);
          transition: right 0.25s;
        }
        span:hover:before {
          .show_psuedo();
          top: 50%;
          margin-top: -7px;
          border-top: 1px solid @c_controls;
          border-right: 1px solid @c_controls;
          height: 15px;
          width: 15px;
          position: absolute;
          transition: right 0.25s;
          right: -5px;
          transform: rotate(45deg);
        }
      }

      @media @min865 {
        float: right;
      }
    }
    .add-event {
      display: inline-block;
      padding: 0 20px 0 20px;
      @media @min865 {
        float: right;
      }

      img {
        margin: 2px 0 0 0;
      }

      a {
        color:@color-dcc-blue;
        top: 16px;
        position: absolute;
        right: 16px;
        @media @min865 {
          top: 16px;
        }
        &:hover {
          cursor: pointer;
        }

      }
    }


  }

}